.appointmemt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

.appoinment__header {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
@media(max-width:600px){
  .appoinment__header{
    flex-direction: column;
    gap: 20px;
    margin: 0px auto;
  }
}
